{% extends '::base.html.twig' %}

{% block title %}Panier{% endblock %}
{% block body %}
<script type="text/javascript">
 function subToCart(url, commandeId){
            
            $.post(url,
            {commandeId : commandeId},
            function(data) {
              $('#commande-'+commandeId).remove();
              noty({"text":"<br />Plat supprimé du panier.<br />","layout":"bottomRight","type":"error","animateOpen":{"height":"toggle"},"animateClose":{"height":"toggle"},"speed":500,"timeout":5000,"closeButton":false,"closeOnSelfClick":true,"closeOnSelfOver":false,"modal":false});
              }
            );
            return false;
        }
</script>
<style>

</style>
<div data-role="content" data-theme="a">
<ul data-role="listview" data-inset="true" data-divider-theme="d">
        

        
        <li data-role="list-divider">Plats</li>
{% for entity in entities %}
        <li id="commande-{{ entity.id }}" class="dish" data-icon="trash"><a onclick="subToCart('{{ path('subToCart') }}', '{{ entity.id }}')"href="#">{{ entity.dish.title }}: {{ entity.dish.price }} euros</a></li>
        
    {% endfor %}
        <li id="total-price" data-theme="d" data-icon="arrow-right"><a href="#">Prix total : {{ totalPrice }} euros</a></li>
        <li data-theme="b" data-icon="arrow-right"><a href="{{ path('submitCart') }}">Finaliser la commande</a></li>
</ul>
</div>
{% endblock %}
