{% extends '::base.html.twig' %}

{% block title %}Client{% endblock %}
{% block header %}
        <div data-role="header" data-position="inline">
                <h1>Food Inc.</h1>
                <div data-role="navbar">
                        <ul>
                            <a href="{{ path('home') }}" data-ajax="false" data-icon="home">La Carte</a>
                            <a href="{{ path('showCart') }}" data-ajax="false" data-icon="list">Panier</a>
                        </ul>
                </div>
        </div>
{% endblock %}
{% block body %}
<script type="text/javascript">
    var cartDishId = 0;
 function addToCart(url){
            
            $.post(url,
            {dishId : cartDishId},
            function(data) {
                noty({"text":"Plat correctement ajouté au panier.","layout":"bottomRight","type":"success","animateOpen":{"height":"toggle"},"animateClose":{"height":"toggle"},"speed":500,"timeout":5000,"closeButton":false,"closeOnSelfClick":true,"closeOnSelfOver":false,"modal":false});
            }
            );
            return false;
        }
 function details(url, dishId){
            
            $.post(
            url,
            {dishId : dishId},
            function(data) {
              $('#plat-title').html(data.title);
              $('#plat-description').html(data.description);
              $('#plat-price').html(data.price+" euros");
              cartDishId = data.id;
            }
            );
            return false;
        }
</script>

<div data-role="content" data-theme="a" style="float: left; width:40%">
<ul data-role="listview" data-inset="true" data-divider-theme="d">
        <li data-role="list-divider">Entrees</li>
         {% for entree in entrees %}
        <li data-icon="arrow-right"><a data-ajax="true" onclick="details('{{ path('viewDetail') }}', '{{ entree.id }}')"href="#">{{ entree.title }}</a></li>
        {% endfor %}
</ul>

<ul data-role="listview" data-inset="true" data-divider-theme="b">
        <li data-role="list-divider">Plats</li>
         {% for plat in plats %}
            <li data-icon="arrow-right"><a data-ajax="true" onclick="details('{{ path('viewDetail') }}', '{{ plat.id }}')"href="#">{{ plat.title }}</a></li>
         {% endfor %}
</ul>

<ul data-role="listview" data-inset="true" data-divider-theme="c">
        <li data-role="list-divider">Desserts</li>
        {% for dessert in desserts %}
            <li data-icon="arrow-right"><a data-ajax="true" onclick="details('{{ path('viewDetail') }}', '{{ dessert.id }}')"href="#">{{ dessert.title }}</a></li>
         {% endfor %}
</ul>
        
<ul data-role="listview" data-inset="true" data-divider-theme="c">
        <li data-role="list-divider">Boissons</li>
        {% for boisson in boissons %}
            <li data-icon="arrow-right"><a onclick="details('{{ path('viewDetail') }}', '{{ boisson.id }}')"href="#">{{ boisson.title }}</a></li>
         {% endfor %}
</ul>
</div>
<div data-role="content" data-theme="a" style="float: left; width:56%">
    <ul data-role="listview" data-inset="true" data-divider-theme="c">
        <li data-role="list-divider">Detail</li>
        <li>
            <p id="plat-title">Detail du plat</p>
            <p id="plat-description"></p>
            <p id="plat-price"></p>
            <p id="plat-order">
              <a style="width: 175px;"onclick="addToCart('{{ path('addToCart') }}')" href="#" data-role="button" data-theme="a" data-icon="trash">Ajouter au panier</a>
            </p>
        
        </li>
         
</ul>
</div>

{% endblock %}