{% extends '::base.html.twig' %}
{% block title %}Paiement{% endblock %}
{% block body %}

<div data-role="content" data-theme="a">
<p>Prix total</p>
<p>{{ totalPrice }}</p>
<a href="{{ path('validPaiementCart') }}">Valider</a>

</div>
{% endblock %}
