{% extends "::base-admin.html.twig" %}
{% block header %}
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Food Inc.</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="{{ path('admin') }}">Accueil</a></li>
              <li class="active"><a href="{{ path('fos_user_registration_register_custom') }}">Restaurants</a></li>
              <li><a href="{{ path('dish') }}">Plats</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
            {% endblock %}
{% block body %}
<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
        </div>
    </form>
{% endblock body %}
