<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
                <link href="{{ asset('bundles/twitterbootstrap/css/bootstrap.css') }}" type="text/css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="http://needim.github.com/noty/js/noty/css/jquery.noty.css"/>
<link rel="stylesheet" type="text/css" href="http://needim.github.com/noty/js/noty/css/noty_theme_default.css"/>
        {% endblock %}
        {% block javascripts %}
		<script src="{{ asset('bundles/mobilebootstrap/js/jquery-1.7.1.min.js') }}"></script>
		<script src="{{ asset('bundles/twitterbootstrap/js/bootstrap.min.js') }}"></script>
                <script type="text/javascript" src="http://needim.github.com/noty/js/noty/js/jquery.noty.js"></script>
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block header %}
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Food Inc.</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li {%if( app.request.requesturi == path('admin'))%}class="active"{%endif%}><a href="{{ path('admin') }}">Accueil</a></li>
              <li {%if( app.request.requesturi == path('fos_user_registration_register_custom'))%}class="active"{%endif%}><a href="{{ path('fos_user_registration_register_custom') }}">Restaurants</a></li>
              <li {%if( app.request.requesturi == path('dish'))%}class="active"{%endif%}><a href="{{ path('dish') }}">Plats</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
            {% endblock %}
            
            <div style="margin-top:60px;" class="container"><div class="row">
        
        {% block body %}{% endblock %}
                    </div>
        
    </body>
</html>
