<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
                <link href="{{ asset('bundles/mobileboostrap/css/Bootstrap.css') }}" type="text/css" rel="stylesheet" />
                <link href="{{ asset('bundles/mobileboostrap/css/jqm-icon-pack-1.1.1-fa.css') }}" type="text/css" rel="stylesheet" />
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile.structure-1.1.0.min.css" />
<link rel="stylesheet" type="text/css" href="http://needim.github.com/noty/js/noty/css/jquery.noty.css"/>
<link rel="stylesheet" type="text/css" href="http://needim.github.com/noty/js/noty/css/noty_theme_default.css"/>
        {% endblock %}
        {% block javascripts %}
		<script src="{{ asset('bundles/mobileboostrap/js/jquery-1.7.1.min.js') }}"></script>
		<script src="{{ asset('bundles/mobileboostrap/js/jquery.mobile-1.1.0.min.js') }}"></script>
                <script type="text/javascript" src="http://needim.github.com/noty/js/noty/js/jquery.noty.js"></script>
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block header %}
        <div data-role="header" data-position="inline">
                <h1>Food Inc.</h1>
                <div data-role="navbar">
                        <ul>
                            <a href="{{ path('home') }}" data-ajax="false" data-icon="home">La Carte</a>
                            <a href="{{ path('showCart') }}" data-ajax="false" data-icon="list">Panier</a>
                        </ul>
                </div>
        </div>
            {% endblock %}
        
        {% block body %}{% endblock %}
        
    </body>
</html>
