{% extends '::base.html.twig' %}
{% block title %}Ajouter table{% endblock %}
{% block header %}
<div data-role="header" data-position="inline">
                <h1>Food Inc.</h1>
</div>
{% endblock %}
{% block body %}
<h1>Nouvelle table</h1>

<form action="{{ path('tble_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('home') }}">
            Retour
        </a>
    </li>
</ul>
{% endblock %}
