{% extends '::base.html.twig' %}

{% block title %}Index{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
        <ul id="navigation">
            {% for table in tables %}
                <li><a href="#">{{ table.name }}</a></li>
            {% endfor %}
            {% for serveur in serveurs %}
                <li><a href="#">{{ serveur.name }}</a></li>
            {% endfor %}
        </ul>
{% endblock %}