<h1>Cuisine</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Plat</th>
            <th>Table</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    {% for waiting in waitings %}
        <tr>
            <td>{{ waiting.dish.title }}</td>
            <td>{{ waiting.table.name }}</td>
            <td>
                <a href="{{ path('cook', { 'commandeId': waiting.id }) }}">Preparer</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<table class="records_list">
    <thead>
        <tr>
            <th>Plat</th>
            <th>Table</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    {% for cooking in cookings %}
        <tr>
            <td>{{ cooking.dish.title }}</td>
            <td>{{ cooking.table.name }}</td>
            <td>
                <a href="{{ path('cookReady', { 'commandeId': cooking.id }) }}">Pret</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

