{% extends '::base.html.twig' %}

{% block title %}Manage{% endblock %}
{% block header %}
<div data-role="header" data-position="inline">
                <h1>Food Inc.</h1>
</div>
{% endblock %}
{% block body %}
<div data-role="content" data-theme="a">
<ul data-role="listview" data-inset="true" data-divider-theme="d">
        <li data-role="list-divider">Tables</li>
         {% for table in tables %}
        <li data-icon="arrow-right"><a href="{{ path('user', { 'type': 'table', 'id': table.id }) }}">{{ table.name }}</a></li>
        {% endfor %}
            <li data-icon="plus"><a href="{{ path('tble_new') }}">Nouvelle table</a></li>
</ul>

<ul data-role="listview" data-inset="true" data-divider-theme="b">
        <li data-role="list-divider">Serveurs</li>
         {% for serveur in serveurs %}
            <li data-icon="arrow-right"><a href="{{ path('user', { 'type': 'waiter', 'id': serveur.id }) }}">{{ serveur.name }}</a></li>
         {% endfor %}
            <li data-icon="plus"><a href="{{ path('waiter_new') }}">Nouveau serveur</a></li>
</ul>

<ul data-role="listview" data-inset="true" data-divider-theme="c">
        <li data-role="list-divider">Cuisine</li>
        <li data-icon="arrow-right"><a href="{{ path('user', { 'type': 'cooker', 'id': 'cooker' }) }}">Cuisine</a></li>
</ul>
</div>
        
{% endblock %}