{% extends '::base-admin.html.twig' %}
{% block body %}
<form action="{{ path('dish_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('dish') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}