{% extends "::base.html.twig" %}

{% block body %}
{% if error %}
    <div>{{ error }}</div>
{% endif %}
<form action="{{ path("fos_user_security_check") }}" method="post" style="margin: 0 auto; width: 190px;">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

<div data-role="fieldcontain">
    <label for="username" style="width: 100px;">Username</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" style="width: 170px;" />
</div>
<div data-role="fieldcontain">
    <label for="password" style="width: 100px;">Mot de passe</label>
    <input type="password" id="password" name="_password" style="width: 170px;"  />
</div>
<div  data-theme="a" data-role="fieldcontain"  style="width: 165px;" >
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">Se souvenir?</label>
</div>
    <div data-role="fieldcontain" style="width: 165px;">
    <input type="submit" id="_submit" name="_submit" value="Valider" />
</div>
</form>
{% endblock body %}
