<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>jQuery Mobile Twitter Bootstrap Theme</title>
                <link href="{{ asset('bundles/mobileboostrap/css/Bootstrap.css') }}" type="text/css" rel="stylesheet" />
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile.structure-1.1.0.min.css" />
                <link href="{{ asset('bundles/mobileboostrap/css/jqm-icon-pack-1.1.1-fa.css') }}" type="text/css" rel="stylesheet" />
		<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
	</head>
	<body>
		<div data-role="page" data-theme="a">
			<div data-role="header" data-position="inline">
				<h1>jQuery Mobile Twitter Bootstrap Theme</h1>
				<div data-role="navbar">
					<ul>
						<a href="index.html" data-icon="home" class="ui-btn-active">Home</a>
						<a href="buttons.html" data-icon="th-large">Buttons</a>
						<a href="listviews.html" data-icon="list">Lists</a>
						<a href="nav.html" data-icon="cogs">Nav</a>
						<a href="forms.html" data-icon="file">Forms</a>
					</ul>
				</div>
			</div>
			<div data-role="content" data-theme="a">

				<a href="https://github.com/commadelimited/jQuery-Mobile-Bootstrap-Theme" data-role="button" data-icon="star">Get the code</a>

				<h2>Overview</h2>

				<p>
					The jQuery Mobile Bootstrap theme is meant to duplicate the appearance of <a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a> within the context of a jQuery Mobile application. Currently only the colors are mimiced, but eventually some of the components might also work their way into the theme.
				</p>

			</div>
		</div>
	</body>
</html>