{% extends '::base.html.twig' %}

{% block title %}Index{% endblock %}
{% block stylesheets %}{% endblock %}
{% block header %}
        <div data-role="header" data-position="inline">
                <h1>Food Inc.</h1>
                <div data-role="navbar">
                        <ul>
                            <a href="{{ path('watchTables') }}" data-ajax="false" data-icon="home">Commandes</a>
                            <a href="{{ path('home') }}" data-ajax="false" data-icon="list">Tables</a>
                        </ul>
                </div>
        </div>
            {% endblock %}

{% block body %}

<form method="post" action="{{ url('assignWaiter') }}">
<div data-role="fieldcontain">
    <fieldset data-role="controlgroup">
    <legend>Assigner des tables au serveur</legend>
        {% for table in tables %}
            {% if table.waiter.id is defined %}
                {% set tableWaiterId = table.waiter.id %}
                {% set waiterName = table.waiter.name %}
            {% else %}
                {% set tableWaiterId = null %}
                {% set waiterName = "Aucun" %}
            {% endif %}

                    <input type="checkbox" name="checkbox-{{ table.id }}" id="checkbox-{{ table.id }}" class="custom" {% if tableWaiterId == currentUser %}checked{% endif %} />
                    <label for="checkbox-{{ table.id }}" >{{table.name}} (Serveur : {{ waiterName }} )</label>

        {% endfor %}
    </fieldset>
    </div>
                    <input type='submit' value="valider"/>
                    </form>
      


{% endblock %}