{% extends '::base.html.twig' %}

{% block title %}Serveur{% endblock %}
{% block header %}
        <div data-role="header" data-position="inline">
                <h1>Food Inc.</h1>
                <div data-role="navbar">
                        <ul>
                            <a href="{{ path('watchTables') }}" data-ajax="false" data-icon="home">Commandes</a>
                            <a href="{{ path('home') }}" data-ajax="false" data-icon="list">Tables</a>
                        </ul>
                </div>
        </div>
            {% endblock %}

{% block body %}


<ul data-role="listview" data-inset="true" data-divider-theme="b">
{% for table in tables %}
    <li data-role="list-divider">{{table.name}}</li>
    {% for commande in commandes %}
        {%if commande.table.id == table.id %}
        <li data-icon="repeat">{{commande.dish.title}}</li>
    {% endif %}
    {% endfor %}
{% endfor %}
					
</ul>
{% endblock %}