{% extends '::base-admin.html.twig' %}


{% block body %}

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ entity.title }}</td>
        </tr>
        <tr>
            <th>Price</th>
            <td>{{ entity.price }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('dish') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('dish_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    
</ul>

{% endblock %}